@font-face {
    font-family: 'Code-Light';
    src: url('../fonts/CODE Light-webfont.eot');
    src: url('../fonts/CODE Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CODE Light-webfont.woff2') format('woff2'),
         url('../fonts/CODE Light-webfont.woff') format('woff'),
         url('../fonts/CODE Light-webfont.ttf') format('truetype'),
         url('../fonts/CODE Light-webfont.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century-Gothic';
    src: url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}